{% extends "base" %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">All Stocks</h1>
    </div>


    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Data</h6>
                </div>
                <div class="card-body">
                    <!-- DataTales Example -->
                    <div class="table">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Symbol</th>
                                <th>Market Capitalization</th>
                                <th>Price $</th>
                                <th>Open $</th>
                                <th>Previous Day Close $</th>
                                <th>Volume</th>
                                <th>Earning Per Share (EPS)</th>
                                <th>Price to Earning Ratio (PE)</th>
                                <th>Book Value $</th>
                                <th>Buy Stock</th>
                            </tr>
                            </thead>
                            <tbody id="stockData">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div data-delay="10000" class="toast" style="position: absolute; top: 40px; right: 40%;">
        <div class="toast-header bg-success text-white">
            <strong class="mr-auto"><i class="fa fa-beer"></i> Promotional Offer</strong>
            <small>now</small>
            <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Congrats! Your account has been topped up with <b>$1000</b>. To view your balance, open <a href="/app/account">My Account</a>
        </div>
    </div>
</div>

{% include "modals" %}

<!-- /.container-fluid -->
{% endblock %}