{% extends "base" %}

{% block title %} Home {% endblock %}

{% block content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Stock Details</h1>
    </div>
	<h5 class="h5 mb-0 text-gray-800" id="shareName"></h5> 
 	<div class="row">

            <div class="col-lg-6">

              <!-- Area Chart -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Open Price vs Close Price</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="openCloseChart"></canvas>
                  </div>
                </div>
              </div>
              
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Volume of Trade</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="volumeChart"></canvas>
                  </div>
                </div>
              </div>

              </div>
              <div class="col-lg-6">

               <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">High Price vs Low Price</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="highLowChart"></canvas>
                  </div>
                </div>
              </div>

              </div>
              </div>

  </div>
  <!-- /.container-fluid -->
{% endblock %}
